<!-- sidebar -->
<div class="col-md-3">
  <div class="sidebar">
    <%= render 'shared/user', user: @user %>
    <%= render 'shared/new', book: @book %>
  </div>
</div>


<!-- 自分の投稿一覧 -->
<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class="table">
    <tr>
      <th></th>
      <th class="nav-list">Title</th>
      <th class="nav-list">Opinion</th>
    </tr>
   
    <% @books.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user) do %>
          <%= image_tag(book.user.get_profile_image(100,100), alt:"Profile Image") %>
        <% end %>
      </td>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.body %></td>
      <td><%= render 'shared/favorite', book: book %></td>
      <td>コメント数: <%= book.book_comments.count %></td>
      
    </tr>
    <% end %>
  </table>
</div>