<!-- sidebar -->
<div class="col-md-3">
  <div class="sidebar">
    <%= render 'shared/user', user: @user %>
    <%= render 'shared/new', book: @book %>
  </div>
</div>

<!-- Book detail-->
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tr>
      <td>
        <div>
            <%= image_tag(@user.get_profile_image(100,100))%>
          <p>
            <%= link_to @book2.user.name, user_path(@book2.user) %>
          </p>
        </div>
      </td>
      
      <td><%= link_to @book2.title, book_path(@book2.id) %></td>
      <td><%= @book2.body%></td>
      
      <% if @book2.user == current_user %>
      <td>
          <button type="button" class="btn btn-success btn-sm">
            <%= link_to "Edit", edit_book_path(@book2), class:"text-white" %>
          </button>
      </td>
      <td>
          <button type="button" class="btn btn-danger btn-sm">
            <%= link_to "Destroy", book_path(@book2), method: :delete, class:"text-white" %>
          </button>
      </td>
      <% end %>
    </tr>
  </table>

</div>