<!DOCTYPE html>
<html>
  <head>
    <title>Booker2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/dddd01f9f6.js" crossorigin="anonymous"></script>
    

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header class="shadow-sm">
      <!--枠が黒い-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Bookers</a>
          <!--小さい画面用-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            
          <!-- ナビゲーションメニュー -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              
              <% if user_signed_in? %>
              
              <li class="nav-item">
                <%= link_to user_path(current_user), class: "nav-link text-light" do %>
                  <i class="fa-solid fa-house" style="color:white"></i> Home
                <% end %>
              </li>
              
              <li class="nav-item">
                <%= link_to users_path, class: "nav-link text-light" do %>
                  <i class="fa-solid fa-users" style="color:white"></i> Users
                <% end %>  
              </li>
              
              <li class="nav-item">
                <%= link_to books_path, class: "nav-link text-light" do %> 
                  <i class="fa-solid fa-book-open" style="color:white"></i> Books
                <% end %>
              </li>
              
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                  <i class="fa-solid fa-right-from-bracket" style="color:white"></i> Log out
                <% end %>
              </li>
              
              
              <% else %>
              <li class="nav-item">
                <%= link_to  homes_top_path, class: "nav-link text-light" do %>
                  <i class="fa-solid fa-house" style="color:white"></i> Home
                <% end %>
              </li>
              
              <li class="nav-item">
                <%= link_to  homes_about_path, class: "nav-link text-light" do %>
                  <i class="fa-solid fa-link" style="color:white"></i> About
                <% end %>
              </li>
              
              <li class="nav-item">
                <%= link_to  new_user_registration_path, class: "nav-link text-light" do %>
                  <i class="fa-solid fa-user-plus" style="color:white"></i> Sign up
                <% end %>
              </li>
              
              <li class="nav-item">
                <%= link_to  new_user_session_path, class: "nav-link text-light" do %>
                  <i class="fa-solid fa-right-to-bracket" style="color:white"></i> Log in
                <% end %>
              </li>
              
              <% end %>
            </ul>
        </div>
      </nav>
    </header>
    
    <div class="container m-3 mx-auto">
      <div class="row">
        <%= yield %>
      </div>
    </div>

 
  </body>
  
  <footer class="fixed-buttom">
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
    
  </footer>
</html>
